.App {
  text-align: center;
}

.card-item {
  width: 768px;
  height: 180px;
}

.poll-board {
  width: 768px;
}

.avatar-image {
  height: 100%;
  max-width: 100%;
}

.img-fit-container {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

legend {
  width: fit-content;
  text-align: right;
}

div.hr-or {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  text-align: center;
  height: 0px;
  line-height: 0px;
}

div.hr-or:before {
  content: 'OR';
  background-color: #fff;
}

div.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  text-align: center;
  height: 0px;
  line-height: 0px;
}

.hr-title {
  background-color: #fff;
}
